.topics-container {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: grid;
		justify-content: space-evenly;
		grid-template-columns: repeat(auto-fit, 330px);

		li {
			.card {
				box-sizing: border-box;
			}

			margin: 20px;
			height: 350px;
		}
	}

	.loading-topics {
		width: min(100vw, 100vh);
		object-fit: contain;
	}
}
