@keyframes rotation {
	from {
		transform: translate(-100%);
	}
	to {
		transform: translate(100%) rotateY(360deg);
	}
}

div {
    background-color: hsl(213, 100%, 95%);
	text-align: center;

	img {
		padding: 5%;
		width: 10%;
		animation: rotation 2s infinite alternate linear;
	}
}
