.wiki-container {
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	span {
		color: violet;
		text-shadow: 1px 0 2px black, 0 1px 2px black, -1px 0 2px black, 0 -1px 2px black;
		font-style: italic;
	}
	.select-container {
		display: flex;
		width: 30%;
		margin: auto;
		padding: 2% 0;
		align-items: center;

		.select {
			box-shadow: 1px 1px 3px 0 gray;
			border-radius: 5px;
			width: 100%;
		}

		p {
			white-space: nowrap;
			font-weight: bold;
			padding: 0;
			margin: 0 10px 0 0;
		}
	}
}
