nav {
	background-color: hsl(213, 100%, 50%);
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0 2px 5px 0 grey;

	a {
		font-size: 1.2em;
		padding: 10px;
		text-decoration: none;
		font-weight: bold;
		color: white;
	}

	a:hover {
		background-color: hsl(213, 100%, 40%);
		color: white;
		border-right: 1px solid black;
		border-left: 1px solid black;
	}

	a:active {
		background-color: hsl(213, 100%, 30%);
	}
}
